body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191414;
  color: white;
  font-family: 'GothamMedium';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'GothamMedium';
  src: local('GothamMedium'), url('./fonts/iCiel Gotham-Medium.ttf') format('truetype');
}

.MuiSelect-select.Mui-disabled{
  color: gray;
}